<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Convert Image</title>
</head>
<body>
    
<h1>Upload and Convert Your Image</h1>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="image-input" name="images">
    <div>
        <label for="format">Select Format:</label>
        <select id="format" name="format">
            <option value="jpg">JPEG</option>
            <option value="png">PNG</option>
            <option value="webp">WebP</option>
            <option value="tiff">TIFF</option>
            <option value="svg">GIF</option>
        </select>
    </div>
    <button type="submit" id="upload-button" disabled>Upload and Convert</button>
</form>s
<script>
    const imageInput = document.getElementById('image-input');
    const uploadButton = document.getElementById('upload-button');

    imageInput.addEventListener('change', () => {
        if (imageInput.files.length > 0) {
            uploadButton.removeAttribute('disabled');
        } else {
            uploadButton.setAttribute('disabled', 'disabled');
        }
    });
///////////////////////////////
document.querySelector('form').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    try {
        const response = await fetch('/upload', {
            method: 'POST',
            body: formData
        });
        if (response.ok) {
            const blob = await response.blob();
            const url = URL.createObjectURL(blob);
            const a = Object.assign(document.createElement('a'), { href: url, download: `converted-image.${formData.get('format')}` });
            a.click();
            URL.revokeObjectURL(url);
        } else {
            const { error } = await response.json();
            alert(error || 'Formato de archivo no admitido para la conversión.');
        }
    } catch (error) {
        console.error(error);
        alert('Formato de archivo no admitido para la conversión.');
    }
});
</script>
</body>
</html>
